<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <h1 class="titulo">Calculadora IMC</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="backg-item">
                        <div class="cont-flex">
                            <p class="result">{{ resultado }}</p>
                            <p class="num-style">{{ imc }}</p>
                            <p class="description">{{ descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button routerLink="/" class="btn btn-primary btn-lg-12 btn-color">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
